{% extends "base.html" %}
{% block content %}

{{company[1]["name"]}}

<h2>{{page_title}}</h2>
<p>
    The formation of the group grew out of a meeting Gandalf had with Thorin in Bree which kindled Thorin's interest in
    recapturing his long lost family inheritance. (Thorin's grandfather had been the king of the Lonely Mountain when
    Smaug came and took it.) Remembering that he had once known an adventurous Hobbit on his travels in the Shire,
    Gandalf decided to add Bilbo to their company because he knew that stealth and cunning were preferable to force.
    Gandalf also believed that someone like Bilbo could keep the sometimes prideful and stubborn Dwarves from rash
    action. The superstitious Dwarves also considered thirteen to be an unlucky number, and as Gandalf had planned to
    leave on other business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Thorin Oakenshield</h3>
        <p>
            Thorin II was born in TA 2746 to Dwarven prince Thráin II in the city of The Lonely Mountain. Early in his
            youth, he and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug in TA 2770.
            While in exile, he quickly grew to become a capable warrior. This was demonstrated when he participated in
            the Battle of Azanulbizar in TA 2799. He fought with one of the Dwarven armies beneath the East-gate of
            Moria. At some point in the fighting, his shield broke, and using an oaken tree branch found on the floor as
            a shield, he gained the epithet "Oakenshield," which would remain with him even in death.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/6/65/Thorin_King.jpg" alt="">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
    <img src="https://static.wikia.nocookie.net/lotr/images/b/b4/The-Hobbit-Fili-and-Kili.jpg" alt="">
    </div>
    <div class="col-md-7">
    <h3>Fíli &amp; Kíli</h3>
    <p>
        Fíli and Kíli were nephews of Thorin, who was the elder brother of their mother Dís. They were also nephews of
        Frerin, grandsons of Thráin II, and great-grandsons of Thrór. Fíli's most distinguishing feature was his long
        nose, the longest of any of the Dwarves in Thorin's company.
    </p>
    </div>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h3>Bilbo Baggins</h3>
        <p>
            Bilbo Baggins was born on September 22 by Shire Reckoning (around September 12-14 of our calendar), in the
            year 2890 of the Third Age. He was the only son of Bungo Baggins and Belladonna Took.

            In Hobbiton, Bungo Baggins constructed a spacious and luxurious Hobbit-hole for Belladonna, which they named
            Bag End. The family moved to their new home, where Bilbo would spend much of his life.

            As a young Hobbit, Bilbo was curious and eager for news of the outside world. The Istar wizard, Gandalf,
            took interest in this unusual quality in Bilbo during his visits to the Shire. Bilbo would later remember
            Gandalf's Firework displays in the dwelling of his mother's family at Great Smials. Bilbo apparently
            practiced his rock-throwing skills in his youth so much, that birds and squirrels fled the area whenever he
            bent down to pick up a rock.

            When Bilbo's father and mother died in TA 2926 and TA 2934 respectively, Bilbo became his own master and
            spent the next seven years living alone in Bag End. During this time, Bilbo grew fond of his life as a
            wealthy bachelor and acquired a reputation for respectability that the neighbors admired.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://static.wikia.nocookie.net/lotr/images/b/b6/The_Hobbit_wallpaper_48.jpg" alt="">
    </div>
</div>
<div class="row featurette">
    <div class="col-md-5">
    <h3>Gandalf</h3>
    <img src="https://static.wikia.nocookie.net/lotr/images/d/d4/Gandalf_Grey.png" alt="">
    </div>
    <div class="col-md-7">
    <p>
        Originally called Olórin, he was accounted as the wisest of the Maiar (with the possible exception of Melian).
        He was created by Ilúvatar before the Music of the Ainur[1], and was at the beginning of Time amongst the Ainur
        who entered into Eä.[2] In his "youth", he became one of the Maiar who served Manwë, Varda, Irmo and Nienna. He
        was associated with light and fire, much like his peer Varda.[3] Yet his ways often took him to Nienna, from
        whom he learned pity and patience. He loved the Elves, but he walked unseen among them, or wore a fana that
        appeared like an Elf, and sent them fair visions in their hearts that made them wiser. Throughout his existence,
        he followed the example of Nienna, he took pity on the sorrows of the Children of Ilúvatar and drove those who
        listened to him out of despair.[3]
    </p>
    </div>
</div>
{% endblock %}
